body { padding: 0; margin: 0; font-family: sans-serif; }

header {
    background-image: url('./images/umbrella-bg.jpg');
    background-size: 100%;
    background-position: bottom;
    min-height: 1200px;
    font-family: sans-serif;
    background-repeat:  no-repeat;
}

h1 { color: rgb(24, 34, 97); position: absolute; left: 300px; top: 300px; font-size: 350%;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5); width: 600px; }

p.about { font-size: 300%; width: 700px; position: absolute; left: 300px; top: 440px; font-weight: 100;
    color: rgb(50, 50, 50); text-shadow: 2px 2px 2px rgb(255, 255, 255, 0.25); line-height: 1.4; }

nav { z-index: 100; position: fixed; top: 0; background: rgb(255, 255, 255); padding: 20px; left: 0; right: 0;
    box-shadow: 0 2.76726px 2.21381px rgb(0 0 0 / 7%), 0 6.6501px 5.32008px rgb(0 0 0 / 4%), 0 12.5216px 10.0172px rgb(0 0 0 / 3%), 0 22.3363px 17.869px rgb(0 0 0 / 3%), 0 41.7776px 33.4221px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%), 0 1px 0 0 rgb(4 13 33 / 10%);
    text-align: center; }

.logo { position: absolute; left: 300px; right: 0; top: 200px; }
.logo img { width: 300px; }

h2 { font-size: 250%; border-top: 1px solid #ddd; padding-top: 2em;  text-align: center; margin-top: 2em; margin-bottom: 2em;
    width: 600px; margin-left: auto; margin-right: auto; }

#services h2 { border-top: 0; }

a, h2, .card h3 { color: rgb(24, 34, 97); }

a { text-decoration: none; border-bottom: 1px solid rgba(24, 34, 97, 0.3); }

a:hover, nav a.active { border-bottom: 1px solid rgb(24, 34, 97); }

nav a { font-weight: bold; font-size: 120%; margin-right: 10px; margin-left: 10px; }

main { margin-left: 300px; margin-right: 300px; }

#credits { /*margin-left: -300px; margin-right: -300px;*/ margin-top: 400px; text-align: center; }

svg { fill: rgb(24, 34, 97); }

#services { text-align: center; }

.card { width: 24%; line-height: 1.4; font-size: 120%; margin-right: 2em; margin-left: 2em; display: inline-block;
    text-align: center; padding: 20px; vertical-align: top; }

#team .card, #faqs .card { box-shadow: rgb(0 0 0 / 10%) 0px 6px 12px 0px, rgb(202 202 202 / 20%) 0px 0px 6px 0px, rgb(202 202 202 / 10%) 0px -1px 4px 0px; }

.card p { color: rgb(63, 63, 63); }

#team { text-align: center; }
.person { width: 36%; }

.callus { margin-top: 4em; line-height: 1.5; font-size: 120%; color: rgb(63, 63, 63); }

label { display: block; margin-top: 1em; margin-bottom: 0.5em; }
form { width: 600px; margin: auto; margin-top: 4em; font-size: 120%; }
input[type='text'] { width: 100%; box-sizing: border-box; border-width: 1px; border-color: rgb(200, 200, 200); font-size: 140%; padding: 1em; font-family: sans-serif; }
select { font-size: 100%; padding: 4px; width: 100%; }
textarea { width: 100%; box-sizing: border-box; font-size: 140%; font-family: sans-serif; }
fieldset { text-align: center; border: 0; }
button { font-size: 100%; padding: 0.25em 0.5em; }

#credits { margin-bottom: 2em; }


/**
 * Responsive layouts
 */

h1 { font-size: 56px; }
p.about { font-size: 48px; }

/* e.g. laptop */
@media screen and (max-width: 1280px) {
    body { font-size: 16px; }

    header { min-height: 800px; }

    h1 { font-size: 42px; }
    p.about { font-size: 36px; width: 500px; }

    /* base the grid on 960px? */
    main { width: 960px; margin-left: auto; margin-right: auto; }

    /* 12 columns, 60px each, 10px margin either side*/
    /* for 3 cards, each should take up 4 columns. */

    /* each card should be 300px wide with 10px either side (3 x 320 = 960) */

    /* width display: inline-block, this ends up wrapping, but float: left
       fixes that. */

    .card { width: 270px; padding: 10px; margin-left: 10px; margin-right: 10px; }

    .logo { position: absolute; left: 300px; right: 0; top: 100px; }
}



